.mainPic{
	width: 550px;
	height: 680px;
	margin-left: 190px;
	margin-top: 10em;
	padding: 0px;
}
.mainText{
	text-align: right;
	margin-right: 90px;
	font-size: 70px;
	margin-top: 300px;
	padding: 0px;

}